*{
  margin :0;
  color :#ccc;
  text-decoration: none;
}
.navbar{
  display: flex;
  align-items:center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 1px solid #666;
  
  .links{
    margin-left: auto;
  }
  .links a{
    margin-left: 16px;
  }
  .links a:hover{
    color: #e39dff;
  }
}
.content{
  max-width: 600px;
  margin: 10px auto;
}
.studentPreview{
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid #333;
  border-radius: 5px;


}
.studentPreview:hover{
  background-color: #ef9dff2f;
  box-shadow: 2px 2px 5px #111;
}
/* -------------------------------------------------- */
.studentDetails{
  margin : 10px 0;
  border: 1px solid #333;
  border-radius: 10px;
  p {
    padding: 10px;
    border-bottom: 1px solid #333 ;
  }
  .buttons{
    display: flex;
    justify-content: center;
  }
  button {
   margin: 15px 10px;
   padding: 5px;
   width: 60px;
   border-radius: 5px;
   border: 1px solid #999;
   font-size: small;
  }
  button:hover{
    background-color: #444;
  }
  button:active{
    background-color: #666;
  }
}
.studentCourses{
  margin : 10px 0;
  display: flex;
}
.stdCourse{
  border: 1px solid #666;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  margin-right: 10px;
}
.stdCourse:hover{
  background-color: #ef9dff2f;
  box-shadow: 2px 2px 5px #111;
}
.onlyme{
  display: block;
  margin: 20px auto;
  background-color: #cd9dd7;
  color:#333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px 10px;
}
.onlyme:hover{
  color: white;
  border: 1px solid white;
}
.onlyme:active{
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.174);

}
/* ---------------------------------------------------- */