form{
    
    justify-items: center;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
  
    *{
        display: block;
    }
}
label{
   justify-self: flex-start;
   margin-left: 10px;
}
input, textarea{
    margin: 10px;
    width: stretch;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #666;
    font-size: medium;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

}
input:focus, textarea:focus{
    border: 2px solid #e39dff;
    background-color: #e39dff34;
}
.mydatepicker .react-datepicker__input-container input{
    text-align: center;
}
.error{
    color: #ff8b8b;
}
.dur{
    display: flex;
    input{
        margin: 0;
        width: 70px;
        text-align: center;
    }
    label{
        color: #e39dff;
    }
}